.testimonial-top {
  background-color: white;
}
.testimonial-bottom {
  background-color: var(--alice-blue);
}

.testimonial-card {
  background-color: white;
}
.break-row {
  grid-column: 1 / -1; /* Span across all columns */
  height: 20px; /* Adjust the height of the break row */
}
