.navbar {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding-top: 24px;
}
.nav-list {
  display: flex;
  padding-left: 133px;
  flex: 1;
}
.nav-list .nav-item:nth-child(2) {
  padding: 0px 60px;
}
.nav-list .nav-item a {
  text-decoration: none;
  cursor: pointer;
  color: var(--black);
  font-weight: var(--fw-bold);
}
.nav-item {
  list-style-type: none;
}
