.episode-card {
  border: 2px solid var(--black, #000);
  border-radius: 12px;
  box-shadow: 10px 10px 0px 0px #81adc8;
  background: #fff;
  padding: 16px;
}
.episode-card img {
  border-radius: 6px;
  width: 100%;
}
.episode-card div:nth-child(1) {
  flex: 2;
}
